# Build artifacts
/.build
/Packages
.xcuserdata/
/DerivedData/
/.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# MacOS metadata
.DS_Store

# Linux-only/unused test placeholders
**/Placeholder*.swift
